<div class="row settings-page">
  <div class="col-md-4 col-md-offset-1 setting-forms">
    <form role="form" ng-submit="sheriffSetsCtrl.changePassword()">
      <div class="form-group m-b-lg">
        <strong>Change your password</strong>
      </div>
      <div class="form-group">
        <label>Old password</label>
        <input ng-model="sheriffSetsCtrl.sheriff.oldPassword" placeholder="Enter old password" class="form-control" type="password" required>
      </div>
      <div class="form-group">
        <label>New password</label>
        <input ng-model="sheriffSetsCtrl.sheriff.newPassword" placeholder="Enter new password" class="form-control" type="password" required>
      </div>
      <div class="form-group">
        <label>Confirm new password</label>
        <input ng-model="sheriffSetsCtrl.sheriff.confirmNewPassword" placeholder="Confirm new password" class="form-control" type="password" required>
      </div>
      <div class="form-group">
        <button class="btn btn-sm btn-primary btn-f-w" type="submit">Change password</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-2 setting-forms">
    <form role="form" ng-submit="sheriffSetsCtrl.changeName()">
      <div class="form-group m-b-lg">
        <strong>Change your name & agency</strong>
      </div>
      <div class="form-group">
        <label>Agency Name</label>
        <input ng-model="sheriffSetsCtrl.sheriff.agency" placeholder="What's your Agency Name?" class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label>Your Name</label>
        <input ng-model="sheriffSetsCtrl.sheriff.name" placeholder="What's your Name?" class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <button class="btn btn-sm btn-primary btn-f-w" type="submit">Save Change</button>
      </div>
    </form>
  </div>
</div>
<app-terms-privacy first-login="sheriffSetsCtrl.firstLogin" sheriff-terms="sheriffSetsCtrl.sheriffTerms"></app-terms-privacy>
